Repository theDanielYeh/Week-Planner: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, markuplint --fix, eslint --fix

Updated Weekly Planner
  index.html
  layout.css
Due: stylelint --fix, markuplint --fix

first pass some css
  data.js
  index.html
  main.js
  styles.css
Due: stylelint --fix, markuplint --fix, eslint --fix

forgot to save file
  data.js
Due: eslint --fix

Added and styled table
  index.html
  styles.css
Due: stylelint --fix, markuplint --fix

2nd pass modal skeleton
  index.html
  main.js
Due: markuplint --fix, eslint --fix

Updated the modal boxes
  index.html
  layout.css
  main.js
Due: stylelint --fix, markuplint --fix, eslint --fix

pass 3 starting modal form logic
  index.html
  main.js
Due: markuplint --fix, eslint --fix

Added newObject for storage
  data.js
  index.html
  main.js
Due: markuplint --fix, eslint --fix

push 4 objecttodom function
  data.js
  index.html
  main.js
Due: markuplint --fix, eslint --fix

Attempted to reset Table DOM
  index.html
  main.js
Due: markuplint --fix, eslint --fix

pass 5 starting update buttons
  index.html
  main.js
  styles.css
Due: stylelint --fix, markuplint --fix, eslint --fix

Added span buttons
  index.html
  main.js
  styles.css
Due: stylelint --fix, markuplint --fix, eslint --fix

pass 6 starting edit logic
  index.html
  main.js
Due: markuplint --fix, eslint --fix

Updated submit button function
  index.html
  main.js
Due: markuplint --fix, eslint --fix

pass 7 more event edit js
  main.js
Due: eslint --fix

updated submit functionality
  main.js
Due: eslint --fix

pass 8 planning different day functionality
  main.js
Due: eslint --fix

updated switch view function
  data.js
  index.html
  main.js
Due: markuplint --fix, eslint --fix

lastish pass delete modal
  index.html
  main.js
  styles.css
Due: stylelint --fix, markuplint --fix, eslint --fix

final rev
  main.js
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: *.css
  markuplint --fix: any of: *.html
  eslint --fix: any of: *.js
